DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@localhost:5432/pennywise

//auth
JWT_EXPIRATION_IN_MINUTES = your_preferred_expiration
JWT_SECRET_KEY = your_secret_key
JWT_REFRESH_EXPIRATION_IN_DAYS = your_preferred_refresh_expiration
PORT = 5000