DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@localhost:5432/pennywise

# Frontend URL for CORS configuration (default: http://localhost:5173)
FRONTEND_URL=http://localhost:5173

# Auth configuration
JWT_EXPIRATION_IN_MINUTES=60
JWT_SECRET_KEY=your_secret_key
JWT_REFRESH_EXPIRATION_IN_DAYS=7
PORT=5000